---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
// import ArrowCard from "@components/ArrowCard.astro";
import { LOGS } from "@consts";
import Link from "@components/Link.astro";

const logs = (await getCollection("logs"))
  .filter((log) => !log.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={LOGS.TITLE} description={LOGS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate -mb-5 font-semibold text-black dark:text-white">
        Logs
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          logs.map((log) => (
            <li>
              {/* Option 1: Simple link showing the date as text */}
              <Link href={`/logs/${log.slug}`}>
                {log.data.date}
              </Link>

              {/* Option 2: Or if you want to reuse your ArrowCard component instead */}
              {/* <ArrowCard entry={log} /> */}
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
